openai
mistralai
langchain
langchain-core
langchain-community
langchain-openai
chromadb
sentence-transformers
transformers
torch
pypdf
pdfplumber
unstructured
python-docx
tiktoken
python-dotenv
numpy
pandas
fastapi
uvicorn
pydantic
requests
tokenizers
loguru
python-multipart
tqdm
orjson
ragas
datasets
streamlit
duckdb
SpeechRecognition
pydub
streamlit-mic-recorder
